@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --color-primary-white: rgba(255, 255, 255, 1);
  --color-primary-light: rgba(255, 241, 232, 1);
  --color-primary: rgba(255, 159, 102, 1);
  --color-primary-dark: rgb(250, 131, 62);
  --shadow-primary-dark: 0 10px 20px rgba(255, 159, 102, .19),
      0 6px 6px rgba(255, 159, 102, .23);
  --color-scondary-green-veryLight: rgba(212, 238, 233, 1);
  --color-secondary-green-light: rgba(148, 202, 192, 1);
  --color-secondary-green: rgba(69, 160, 144, 1);
  --color-secondary-green-dark: rgba(37, 134, 117, 1);
  --color-secondary-yellow: rgba(237, 201, 136, 1);
  --color-secondary-pink-light: rgba(255, 233, 228, 1);
  --color-secondary-pink: rgba(254, 174, 163, 1);
  --color-secondary-pink-deep: rgba(254, 174, 163, 1);
  --color-text-heading: rgba(28, 10, 10, 1);
  --color-text-p: rgba(88, 79, 73, 1);
  --bg-color: rgba(245, 246, 249, 1);
  --clr: rgba(176, 180, 192, 1);
  --color-shape: rgba(232, 238, 240, 1);
  --clr-1: rgba(207, 207, 207, 1);
  --clr-2: rgba(244, 245, 247, 1);
  --ff: "Inter", sans-serif;
  --ff-special: "Homemade Apple", cursive;
  --fs-h1: clamp(2.25rem, 1.5017605633802815rem + 3.1924882629107985vw, 4.375rem);
  --fs-h2: clamp(1.625rem, 1.096830985915493rem + 2.253521126760563vw, 3.125rem);
  --fs-h3: clamp(1.125rem, 0.772887323943662rem + 1.5023474178403755vw, 2.125rem);
  --fs-h4: clamp(0.875rem, 0.6109154929577465rem + 1.1267605633802815vw, 1.625rem);
  --fs-h5-bold: clamp(0.75rem, 0.4859154929577465rem + 1.1267605633802815vw, 1.5rem);
  --fs-text: clamp(0.75rem, 0.6619718309859155rem + 0.3755868544600939vw, 1rem);
  --fs-text-2: clamp(0.625rem, 0.49295774647887325rem + 0.5633802816901408vw, 1rem);
  --fs-text-special: clamp(1rem, 0.647887323943662rem + 1.5023474178403755vw, 2rem);
  --fs-btn: clamp(0.625rem, 0.448943661971831rem + 0.7511737089201878vw, 1.125rem);
  --fs-logo: clamp(0.875rem, 0.7429577464788732rem + 0.5633802816901408vw, 1.25rem);
  --fs-nav: 1rem;
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
}

h1 {
  color: var(--color-text-heading);
  font-size: var(--fs-h1);
  font-weight: var(--fw-800);
  line-height: 46px;
}
@media (min-width: 90em) {
  h1 {
    font-weight: var(--fw-900);
    line-height: 80px;
  }
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

h5 {
  font-size: var(--fs-h5-bold);
}

p {
  color: var(--color-text-p);
  font-size: var(--fs-text);
  font-weight: var(--fw-400);
  line-height: 22px;
}
@media (min-width: 90em) {
  p {
    line-height: 28px;
  }
}

.header__textLogo {
  color: var(--color-text-heading);
  font-size: var(--fs-logo);
  font-weight: var(--fw-700);
  line-height: 30px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  font-family: inherit;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
}

body {
  background-color: var(--color-primary-white);
  font-family: var(--ff);
  color: var(--ff-color);
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-thumb {
  width: 0;
}

.container {
  max-width: 73.125em;
  width: 90%;
  margin-inline: auto;
}

.overflow {
  overflow: hidden;
  pointer-events: none;
}

.wrapper__flex {
  display: grid;
  gap: 22px;
  -webkit-padding-before: 120px;
          padding-block-start: 120px;
  position: relative;
}
@media (min-width: 720px) {
  .wrapper__flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 140px;
  }
}

.wrapper__bg {
  background-color: var(--color-secondary-green-dark);
  height: 361px;
  left: 0;
  position: absolute;
  width: 100%;
}
@media (min-width: 720px) {
  .wrapper__bg {
    height: 260px;
  }
}

.wrapper__bg--shape {
  position: relative;
  width: 100%;
}
.wrapper__bg--shape .shape {
  display: none;
}
.wrapper__bg--shape .img__orange {
  position: absolute;
  top: 300px;
  right: 30px;
}
.wrapper__bg--shape .img__green {
  position: absolute;
  top: 650px;
  left: 30px;
}
@media (min-width: 720px) {
  .wrapper__bg--shape .shape {
    display: block;
    max-width: 720px;
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    z-index: -1;
  }
  .wrapper__bg--shape .img__green {
    top: 450px;
  }
}

.header__burgerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  position: relative;
  z-index: 5;
}

.line {
  background-color: var(--color-text-heading);
  border-radius: 0.5rem;
  height: 2px;
  position: absolute;
  width: 50%;
}
.line-one {
  transform: translateY(-8px);
  width: 30%;
}
.line-three {
  transform: translateY(8px);
  width: 30%;
}

.active .line {
  background-color: var(--color-primary-dark);
}
.active .line-one {
  animation: ease line-one 0.7s forwards;
}
.active .line-two {
  opacity: 0;
}
.active .line-three {
  animation: ease line-three 0.7s forwards;
}

.no--active .line {
  background-color: var(--color-text-heading);
}
.no--active .line-one {
  animation: ease back-line-one 0.7s forwards;
}
.no--active .line-two {
  opacity: 1;
  transition-delay: 0.5s;
}
.no--active .line-three {
  animation: ease back-line-three 0.7s forwards;
}

@keyframes line-one {
  0% {
    transform: rotate(0) translateY(-8px);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes line-three {
  0% {
    transform: rotate(0) translateY(8px);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes back-line-one {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0) translateY(-8px);
  }
}
@keyframes back-line-three {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0) translateY(8px);
  }
}
.btn {
  align-items: center;
  border-radius: 6px;
  display: flex;
  font-size: var(--fs-btn);
  font-weight: var(--fw-600);
  max-height: 48px;
  justify-content: center;
  margin-block: auto;
  transition: all 0.25s linear;
}

.header__btn--primary {
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding: 5px 10px;
}
.header__btn--primary:is(:hover, :active, :focus) {
  background-color: var(--color-primary);
  color: var(--color-primary-light);
}

.header__btn--secondary {
  padding: 5px 10px;
}
.header__btn--secondary:is(:hover, :active, :focus) {
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.btn__primary {
  background-color: var(--color-primary);
  color: var(--color-primary-white);
  padding: 15px 40px;
}
.btn__primary:is(:hover, :focus, :active) {
  background-color: var(--color-primary-dark);
}

.btn__secondary {
  border: 1px solid var(--clr);
  color: var(--color-text-heading);
  padding: 15px 40px;
}
.btn__secondary:is(:hover, :focus, :active) {
  background-color: var(--color-primary-dark);
  color: var(--color-primary-white);
  border: 1px solid transparent;
}

.video__btn--cirlce {
  aspect-ratio: 1/1;
  background-color: var(--color-primary-dark);
  border-radius: 50%;
  color: var(--bg-color);
  font-size: 20px;
  text-align: center;
  transition: background-color 0.3s linear;
  width: 3rem;
}
.video__btn--cirlce:is(:hover, :focus, :active) {
  background-color: var(--color-primary);
}

.video__btn {
  background-color: var(--color-primary);
  border-radius: 4px;
  color: var(--bg-color);
  font-size: var(--fs-btn);
  font-weight: var(--fw-600);
  height: 42px;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 10px 28px;
  transition: background-color 0.3s linear;
}
.video__btn:is(:hover, :active, :focus) {
  background-color: var(--color-primary-dark);
}

.header__card {
  background-color: var(--color-primary-white);
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr 1fr;
  gap: 18px;
  max-height: 282px;
  max-width: 282px;
  padding: 14px;
  width: 100%;
  transition: all 0.3s linear;
}
.header__card .card__title {
  font-size: var(--fs-h4);
  font-weight: var(--fw-700);
  grid-column: 1/2;
  place-self: center;
  max-width: 10ch;
}
.header__card .card__number {
  color: var(--clr-1);
  font-size: var(--fs-h2);
  font-weight: var(--fw-700);
  grid-column: 2/3;
  place-self: center;
}
.header__card .card__boxImg {
  border-radius: 6px;
  filter: grayscale(1);
  grid-column: span 2;
  place-self: center;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s linear;
  transition-delay: 0.1s;
}
.header__card .card__boxImg img {
  width: 100%;
  height: 100%;
}
.header__card:is(:hover, :active, :focus) {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6), -10px -10px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}
.header__card:is(:hover, :active, :focus) .card__boxImg {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6), -10px -10px 20px rgba(0, 0, 0, 0.3);
  filter: grayscale(0);
  transform: scale(1.05);
}

.header__card--large {
  background-color: var(--color-secondary-pink);
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  grid-template-rows: 1fr 1fr;
  gap: 18px;
  max-height: 282px;
  max-width: 542px;
  padding: 14px;
  transition: all 0.3s linear;
  width: 100%;
}
.header__card--large .card__title {
  font-size: var(--fs-h4);
  font-weight: var(--fw-700);
  grid-row: 1/2;
  grid-column: 1/2;
  width: 10ch;
}
.header__card--large .card__text {
  font-size: var(--fs-text);
  font-weight: var(--fw-400);
  grid-row: 2/3;
  grid-column: 1/3;
  max-width: 240px;
}
.header__card--large .card__number {
  color: var(--clr-1);
  font-size: var(--fs-h2);
  font-weight: var(--fw-700);
  place-self: center;
}
.header__card--large .card__boxImg {
  border-radius: 6px;
  filter: grayscale(1);
  grid-column: 3/4;
  grid-row: span 2;
  overflow: hidden;
  transition: 0.3s linear;
  transition-delay: 0.1s;
}
.header__card--large .card__boxImg img {
  height: 100%;
}
.header__card--large:is(:hover, :active, :focus) {
  transform: scale(1.05);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6), -10px -10px 20px rgba(0, 0, 0, 0.3);
}
.header__card--large:is(:hover, :active, :focus) .card__boxImg {
  filter: grayscale(0);
  transform: scale(1.05);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6), -10px -10px 20px rgba(0, 0, 0, 0.3);
}

.courses__cards {
  border-radius: 6px;
  display: grid;
  gap: 18px;
  max-width: 368px;
  padding: 2px 28px 28px 28px;
  position: relative;
  transition: all 0.35s ease;
}
.courses__cards .curses__cardsRating {
  display: flex;
}
.courses__cards .curses__cardsRating figure {
  margin-right: 5px;
}
.courses__cards .curses__cardsRating a {
  font-size: 12px;
  margin-left: auto;
  transition: all 0.35s ease;
}
.courses__cards .curses__cardsRating a:is(:hover, :active, :focus) {
  color: var(--color-primary-dark);
}
.courses__cards .curses__cardsRating .link__active {
  color: var(--color-primary-dark);
}
.courses__cards:is(:hover, :active, :focus) {
  box-shadow: 10px 35px 25px rgba(0, 0, 0, 0.4), -10px 35px 25px rgba(0, 0, 0, 0.1);
  transform: scale(0.95);
}

.card {
  border-radius: 6px;
  background-color: var(--color-primary-white);
  height: 668px;
  position: relative;
  transition: all 0.35s linear;
  width: 339px;
}
.card:is(:hover, :active, :focus) {
  box-shadow: 10px 35px 25px rgba(0, 0, 0, 0.4), -10px 35px 25px rgba(0, 0, 0, 0.1);
  transform: scale(0.95);
}
@media (min-width: 1200px) {
  .card {
    width: 368px;
  }
}
.card__content {
  display: grid;
  gap: 20px;
  position: relative;
  padding: 34px 62px 0px 34px;
  place-content: center;
  place-items: center;
  height: 195px;
}
.card__content:not(.card__content--active):after {
  background-color: var(--bg-color);
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
.card__content--active {
  background-color: var(--color-primary);
  color: var(--color-primary-white);
}
.card__content--active--title {
  position: relative;
}
.card__content--active--title::after {
  color: var(--color-primary-white);
  content: "RECOMMENDED";
  position: absolute;
  left: 50%;
  top: -30px;
  font-size: 12px;
  transform: translateX(-50%);
}
.card__subtitle {
  font-size: 12px;
}
.card__list {
  text-align: center;
}
.card__items {
  align-items: center;
  display: flex;
  margin-inline: auto;
  width: 80%;
  white-space: nowrap;
}
.card__items:not(:first-child) {
  border: 2px solid var(--bg-color);
  border-radius: 6px;
  gap: 16px;
  margin-bottom: 12px;
  padding: 16px 17px;
}
.card__items:first-child {
  display: block;
  font-size: 14px;
  justify-self: center;
  margin-top: 18px;
  margin-bottom: 26px;
}
.card .check {
  aspect-ratio: 1/1;
  background-color: var(--color-secondary-green-light);
  border-radius: 50%;
  color: var(--color-secondary-green-dark);
  display: grid;
  place-content: center;
  width: 25px;
}
.card__boxBtn {
  bottom: 32px;
  left: 50%;
  margin-inline: auto;
  position: absolute;
  translate: -50%;
  width: 80%;
}
.card__btn {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid var(--color-primary-dark);
  display: flex;
  color: var(--color-primary-dark);
  justify-content: center;
  padding-block: 12px;
  transition: all 0.35s linear;
  width: calc(100% - 50px);
}
.card__btn:is(:hover, :active, :focus) {
  background-color: var(--color-primary-dark);
  color: var(--color-primary-white);
}
.card__btn:hover ~ .arrow {
  background-color: var(--color-primary);
  cursor: pointer;
}
.card .arrow {
  align-items: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid var(--color-primary-dark);
  background-color: var(--color-primary-dark);
  color: var(--color-primary-white);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.35s linear;
  width: 50px;
}

.people__cards {
  border-radius: 20px;
  display: grid;
  gap: 28px;
  grid-template-rows: repeat(3, 1fr);
  height: 303px;
  max-width: 600px;
  width: 100%;
  margin-inline: auto;
  position: absolute;
  padding-inline: 8px;
  text-align: center;
  transition: all 0.35s linear;
}
.people__cards::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(180deg, #EDEDED 0%, rgba(255, 255, 255, 0) 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: all 0.35s linear;
}
.people__cards:is(:hover, :active, :focus) {
  box-shadow: 10px 35px 25px -35px rgba(0, 0, 0, 0.4), -10px 35px 25px -30px rgba(0, 0, 0, 0.1);
  transform: scale(0.95);
}
@media (min-width: 768px) {
  .people__cards:is(:hover, :active, :focus) {
    box-shadow: 10px 35px 25px -20px rgba(0, 0, 0, 0.4), -10px 35px 25px -20px rgba(0, 0, 0, 0.1);
  }
}
.people__cards:is(:hover, :active, :focus) .people__cards-box-img {
  box-shadow: 10px 35px 25px -20px rgba(0, 0, 0, 0.4), -10px 35px 25px -20px rgba(0, 0, 0, 0.1);
}
.people__cards:is(:hover, :active, :focus)::before {
  padding: 0.5px;
}
.people__cards-content {
  grid-row: 2/3;
  font-size: 10px;
  margin-inline: auto;
  max-width: 60ch;
}
.people__cards-info {
  grid-row: 3/4;
}
.people__cards-box-img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  transition: all 0.35s linear;
  position: absolute;
  width: 70px;
  overflow: hidden;
}

.header {
  margin-bottom: 140px;
}
.header__nav {
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 6px;
  border: 1px solid var(--bg-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: var(--color-text-heading);
  display: flex;
  height: 50px;
  justify-content: space-between;
  left: 50%;
  max-width: 900px;
  margin-top: 36px;
  padding: 25px 15px;
  position: fixed;
  translate: -50%;
  width: 90%;
  z-index: 99;
}
.header__nav::before {
  border-radius: inherit;
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.3), inset -5px -5px 15px rgb(255, 255, 255);
  content: "";
  inset: 0;
  position: absolute;
}
.header__logo {
  align-items: center;
  display: flex;
  width: -moz-max-content;
  width: max-content;
}
.header__menu {
  background-color: var(--bg-color);
  display: flex;
  font-size: var(--fs-nav);
}
@media (max-width: 765px) {
  .header__menu {
    align-items: center;
    border: 1px solid var(--bg-color);
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    gap: 42px;
    height: -moz-min-content;
    height: min-content;
    justify-content: center;
    flex-direction: column;
    left: 0;
    opacity: 0;
    position: absolute;
    padding: 42px;
    pointer-events: none;
    top: 100%;
    text-align: center;
    transition: all 0.25s linear;
    width: 100%;
  }
  .header__menu::before {
    border-radius: inherit;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.3), inset -5px -5px 15px rgb(255, 255, 255);
    content: "";
    inset: 0;
    position: absolute;
  }
}
.header__menu--active {
  opacity: 1;
  transform: translateY(5%);
  overflow: auto;
  pointer-events: visible;
  z-index: 3;
}
.header__items {
  position: relative;
  transition: color 0.25s linear;
}
.header__items::after {
  background-color: var(--color-primary-dark);
  border-radius: 6px;
  bottom: -2px;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  transition: all 0.25s linear;
  width: 0;
}
.header__items:is(:hover, :active, :focus)::after {
  width: 100%;
}
.header__items:is(:hover, :active, :focus) {
  color: var(--color-primary-dark);
}
.header__items:not(:last-child) {
  margin-right: 42px;
}
@media (max-width: 765px) {
  .header__items:not(:last-child) {
    margin-right: 0;
  }
}
.header__items:first-child {
  color: var(--color-primary-dark);
}
.header__items:first-child::after {
  background-color: var(--color-primary-dark);
  border-radius: 6px;
  bottom: -2px;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  transition: all 0.25s linear;
  width: 100%;
}
.header__actionBox {
  display: flex;
  gap: 1rem;
}
@media (min-width: 765px) {
  .header__burgerBtn {
    display: none;
  }
}
.header__content {
  display: grid;
  gap: 22px;
}
.header__title {
  width: 280px;
}
@media (min-width: 490px) {
  .header__title {
    width: 11ch;
  }
}
@media (min-width: 1461px) {
  .header__title {
    width: 10.5ch;
  }
}
.header__text {
  margin-bottom: 26px;
  max-width: 480px;
}
.header__contentBtn {
  display: flex;
  -moz-column-gap: 23px;
       column-gap: 23px;
  margin-bottom: 23px;
}
.header__boxImg {
  position: relative;
  width: 100%;
}
.header__boxImg::after {
  aspect-ratio: 1/1;
  background-image: url(../img/Shape.png);
  background-repeat: no-repeat;
  background-size: 100% 255px;
  content: "";
  top: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.header__boxImg img {
  max-width: 234px;
  margin-inline: auto;
  -webkit-padding-before: 16px;
          padding-block-start: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 720px) {
  .header__boxImg {
    height: 150%;
    max-width: 504px;
  }
  .header__boxImg::after {
    display: none;
  }
  .header__boxImg img {
    bottom: 0;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    transform: translateX(-50%);
  }
}
.header__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
  transform: translateY(-50px);
  width: 100%;
}
.header__cards .header__card--large {
  grid-column: span 2;
}
@media (min-width: 630px) {
  .header__cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content 1fr 1fr;
  gap: 16px;
  margin-bottom: 140px;
}
@media (min-width: 768px) {
  .info {
    grid-template-columns: 1fr 1fr max-content max-content;
    grid-template-rows: 1fr 1fr;
  }
  .info__title {
    grid-column: 3/-3;
    grid-row: 1/2;
    place-self: center;
  }
  .info__signature {
    grid-column: 3/-3;
    grid-row: 2/3;
  }
  .info .info__cards--one {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .info .info__cards--two {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .info .info__cards--three {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .info .info__cards--four {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
.info__title {
  grid-column: span 2;
  width: 15ch;
}
.info__signature {
  grid-column: span 2;
}
.info__specialText {
  color: var(--color-primary);
  font-family: var(--ff-special);
  font-size: var(--fs-text-special);
  font-weight: var(--fw-400);
}
.info__textSignature {
  color: var(--color-text-heading);
  font-family: var(--ff);
  font-size: var(--fs-h4);
  font-weight: bold;
}
.info__specialColor {
  color: var(--color-text-p);
  font-size: 12px;
  font-weight: normal;
}
.info__cards {
  display: grid;
  row-gap: 16px;
}
.info__cardNumber {
  font-size: var(--fs-h2);
  font-weight: var(--fw-700);
}
.info__cardsTitle {
  font-size: var(--fs-h5-bold);
  font-weight: var(--fw-700);
}
.info__cardsText {
  font-size: var(--fs-text-2);
  font-weight: var(--fw-400);
  max-width: 24ch;
}

.video {
  display: grid;
  gap: 38px;
  margin-bottom: 70px;
  position: relative;
}
.video__box {
  position: relative;
}
.video__btn--cirlce {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.video__content {
  display: grid;
  gap: 18px;
}
@media (min-width: 680px) {
  .video__content {
    grid-template-columns: 1fr 1fr;
  }
}
.video__title {
  font-size: var(--fs-h2);
  font-weight: var(--fw-700);
  position: relative;
  width: 15ch;
}
.video__title::before {
  background-color: var(--color-primary);
  border-radius: 6px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: -5px;
  width: 18%;
}
.video__text {
  font-size: var(--fs-text);
  font-weight: var(--fw-400);
  width: 35ch;
}
@media (min-width: 680px) {
  .video__btn {
    grid-column: 2/3;
  }
}
@media (min-width: 765px) {
  .video {
    margin-bottom: 190px;
  }
}

.video__bg {
  position: relative;
}
.video__bg::after {
  background-color: var(--bg-color);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 38px;
  width: 100%;
  z-index: -1;
}
@media (min-width: 765px) {
  .video__bg::after {
    top: 150px;
  }
}

.courses {
  display: grid;
  gap: 30px;
}
.courses__content {
  display: grid;
  gap: 18px;
  margin-bottom: 20px;
  place-content: center;
  text-align: center;
}
.courses__text {
  width: 339px;
}
.courses__boxCards {
  display: grid;
  gap: 25px;
  place-content: center;
}
@media (min-width: 765px) {
  .courses__boxCards {
    grid-template-columns: repeat(2, 1fr);
  }
  .courses__boxCards .courses__cards:nth-child(3) {
    place-self: center;
    grid-column: span 2;
  }
}
@media (min-width: 1024px) {
  .courses__boxCards {
    grid-template-columns: repeat(3, 1fr);
  }
  .courses__boxCards .courses__cards:nth-child(3) {
    grid-column: 3/4;
  }
}
.courses__actionBox {
  margin-top: 25px;
  margin-inline: auto;
  width: -moz-max-content;
  width: max-content;
}

.plan {
  background-color: var(--bg-color);
  margin-top: 108px;
  padding-top: 38px;
  padding-bottom: 150px;
}
.plan__wrapper {
  display: grid;
  gap: 3rem;
  place-content: center;
}
.plan__content {
  margin-inline: auto;
  text-align: center;
  width: 30ch;
}
.plan__boxCards {
  display: grid;
  gap: 20px;
}
@media (min-width: 765px) {
  .plan__boxCards {
    grid-template-columns: repeat(2, 1fr);
  }
  .plan__boxCards .card:nth-child(3) {
    place-self: center;
    grid-column: span 2;
  }
}
@media (min-width: 1080px) {
  .plan__boxCards {
    grid-template-columns: repeat(3, 1fr);
  }
  .plan__boxCards .card:nth-child(3) {
    grid-column: 3/4;
  }
}

.people {
  padding-top: 150px;
  padding-bottom: 100px;
  position: relative;
}
.people__title {
  margin-inline: auto;
  margin-bottom: 50px;
  text-align: center;
  width: 15ch;
}
.people__box-slider {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
  max-width: 303px;
  margin-inline: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  .people__box-slider {
    max-width: 643px;
    padding-inline: 1.5rem;
  }
}
.people .wrapper__slider {
  height: 303px;
  max-width: 339px;
  transition: all 0.35s linear;
  width: 100%;
}
@media (min-width: 768px) {
  .people .wrapper__slider {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 700px;
    width: 100%;
  }
}
.people__cards:nth-child(2) {
  transform: translateX(-102%);
}
.people__cards:nth-child(3) {
  transform: translateX(102%);
}
.people__cards {
  transition: all 0.35s linear;
}
.people .people__cards--active {
  transform: translateX(0%);
}
.people .people__cards--no--active {
  transform: translateX(-102%);
}
.people__box-dot {
  align-items: center;
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  margin-inline: auto;
  width: -moz-max-content;
  width: max-content;
}
.people__dot {
  aspect-ratio: 1/1;
  border: 1px solid var(--clr);
  border-radius: 50%;
  box-shadow: 1px 3px 5px -2px rgba(0, 0, 0, 0.4), -1px 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.35s linear;
  width: 20px;
}
.people .dot--active {
  box-shadow: 1px 3px 5px -2px rgba(0, 0, 0, 0.7), -1px 3px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  transform: scale(0.8);
}
.people .dot--active::after {
  border-radius: 50%;
  background-color: orange;
  content: "";
  inset: 0;
  position: absolute;
  transform: scale(0.6);
}
.people__img--circle {
  position: absolute;
  top: 50%;
  right: -3%;
}
.people__img--vector {
  position: absolute;
  bottom: 15%;
  left: -3%;
}/*# sourceMappingURL=style.css.map */