.people {
    padding-top: 150px;
    padding-bottom: 100px;
    position: relative;

    &__title {
        margin-inline: auto;
        margin-bottom: 50px;
        text-align: center;
        width: 15ch;
    }

    &__box-slider {
        align-items: center;
        display: flex;
        height: 400px;
        justify-content: center;
        max-width: 303px;
        margin-inline: auto;
        overflow: hidden;
        position: relative;
        width: 100%;

        @media (min-width:768px) {
            max-width: 643px;
            padding-inline: 1.5rem;
        }
    }

    .wrapper__slider {
        height: 303px;
        max-width: 339px;
        transition: all .35s linear;
        width: 100%;

        @media (min-width:768px) {
            align-items: center;
            display: flex;
            justify-content: center;
            max-width: 700px;
            width: 100%;
        }
    }

    &__cards:nth-child(2) {
        transform: translateX(-102%);
    }

    &__cards:nth-child(3) {
        transform: translateX(102%);
    }

    &__cards {
        transition: all .35s linear;
    }

    .people__cards--active {
        transform: translateX(0%);
    }

    .people__cards--no--active {
        transform: translateX(-102%);
    }

    &__box-dot {
        align-items: center;
        display: flex;
        column-gap: 12px;
        margin-inline: auto;
        width: max-content;
    }

    &__dot {
        aspect-ratio: 1/1;
        border: 1px solid var(--clr);
        border-radius: 50%;
        box-shadow: 1px 3px 5px -2px rgba(0, 0, 0, 0.4),
            -1px 3px 5px rgba(0, 0, 0, 0.1);
        transition: all .35s linear;
        width: 20px;
    }

    .dot--active {
        box-shadow: 1px 3px 5px -2px rgba(0, 0, 0, 0.7),
            -1px 3px 5px rgba(0, 0, 0, 0.5);
        position: relative;
        transform: scale(.8);

        &::after {
            border-radius: 50%;
            background-color: orange;
            content: '';
            inset: 0;
            position: absolute;
            transform: scale(.6);
        }
    }
&__img--circle {
    position: absolute;
    top: 50%;
    right: -3%;
}

&__img--vector {
    position: absolute;
    bottom: 15%;
    left: -3%;
}
}